<h1>Python and MySQL</h1>

<h2>First import the python module containing the API</h2>

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 820kB/s ta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [1]:
import pymysql, cryptography    # the 2nd lib was installed to solve the password encryption error

<h2>Set up a connection and create a cursor object</h2>

In [3]:
db = pymysql.connect("localhost", "root", "Password01!", database="schooldb")
cursor = db.cursor()

<h2>Execute a query and get the results</h2>

In [4]:
cursor.execute('show tables;')
cursor.fetchall()

(('Course',), ('Enrolls_in',), ('Student',))

In [5]:
query = """
SELECT course.name,enrolls_in.score FROM student
INNER JOIN enrolls_in ON student.ssn = enrolls_in.ssn 
INNER JOIN course ON course.number = enrolls_in.class
WHERE f_name = "JOHN";
"""
cursor.execute(query)
result = cursor.fetchall()

In [6]:
for thing in result:
    print(thing)

('Data analytics', 93.0)
('Python', 95.0)

In [7]:
query = 'INSERT INTO student VALUES ("678-33-2345","Bing","Crossby","2346789870","New York","10001");'
cursor.execute(query)

1

In [8]:
query = 'SELECT * FROM student'
cursor.execute(query)
cursor.fetchall()

(('111-22-3333', 'JOHN', 'CHILDS', '6461231212', 'New York', '10025'),
 ('123-12-1234', 'Mary', 'Arias', None, 'New York', '10011'),
 ('222-33-4455', 'Lila', 'Pennington', '4251231212', 'Seattle', '98105'),
 ('555-11-7777', 'Roberto', 'Perez', '9173335479', 'San Francisco', '94110'),
 ('678-33-2345', 'Bing', 'Crossby', '2346789870', 'New York', '10001'))

In [9]:
db.commit()